*{
    margin: 0px;
    padding: 0px;
}

.top-card{
    width: 80%;
    margin: auto;
    gap: 20px;
    border: 2px solid pink;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.cards{
    padding: 10px;
    border: 2px solid red;
    height: 300px;
}
/* .main-card{
    border: 2px solid red;
} */

.image{
    border:2px solid black  ;
    display: flex;
    justify-content: center;  
}

.image img{
   
    align-items: center;
    height: 200px;
    width: 200px;
}